<div align="center">
<h1>Привет Соня и Аня</h1>
<h1>Это Сайт Сони и Ани. Мы учимся в 34 школе г. Полтавы</h1>
<h1>Привет Мама и Папа!</h1>
<h1>А это мы!</h1>
<%= image_tag "we.jpg", width: "40%" %>
<h1>Мы вас любим!</h1>
</div>